## Лабораторна робота 3  
Дана лабораторна робота присвячена прогнозуванню показника "життєва цінність клієнта (LTV)" для користувачів цифрових гаманців на різних платіжних платформах.  
**Життєва цінність клієнта (LTV, Lifetime Value)** — це показник, що оцінює загальний дохід, який бізнес може отримати від одного клієнта протягом усього періоду його взаємодії з компанією або використання її послуг.    
Цей набір даних (**наведено в файлі "clients_LTV"**) містить інформацію про приблизно 7000 користувачів цифрових гаманців із 20 характеристиками, що охоплюють демографічні дані клієнтів, історію транзакцій, показники залученості, патерни використання додатку, взаємодії зі службою підтримки, а саме:    
- Customer_ID: Унікальний ідентифікатор для кожного клієнта.  
- Age: Вік клієнта, у діапазоні від 18 до 70 років.  
- Location: Географічне розташування клієнта, категоризоване як міське, приміське або сільське.  
- Income_Level: Класифікація доходу клієнта як низький, середній або високий.  
- Total_Transactions: Загальна кількість транзакцій, здійснених клієнтом.  
- Avg_Transaction_Value: Середня вартість кожної транзакції в доларах.  
- Total_Spent: Загальна сума, витрачена клієнтом, в доларах.  
- Max_Transaction_Value: Найвища одинична транзакція, зафіксована в доларах.  
- Min_Transaction_Value: Найнижча одинична транзакція, зафіксована в доларах.  
- Active_Days: Кількість днів, протягом яких клієнт був активним на платформі.  
- Last_Transaction_Days_Ago: Кількість днів з моменту останньої транзакції клієнта.  
- Loyalty_Points_Earned: Загальна кількість балів лояльності, зароблених клієнтом.  
- Referral_Count: Кількість нових клієнтів, залучених користувачем.  
- Cashback_Received: Загальна сума кешбеку, отриманого клієнтом.  
- App_Usage_Frequency: Частота використання додатку, категоризована як щоденна, щотижнева або щомісячна.  
- Preferred_Payment_Method: Найбільш часто використовуваний спосіб оплати клієнтом.  
- Support_Tickets_Raised: Кількість звернень до служби підтримки від клієнта.  
- Issue_Resolution_Time: Середній час вирішення проблем клієнта, в годинах.  
- Customer_Satisfaction_Score: Оцінка (1-10), що відображає задоволеність клієнта.  
- LTV: Цільова змінна, що представляє розраховану життєву цінність клієнта.  


**В ЛР 3 необхідно виконати наступні завдання:**  
1. Ознайомлення з набором даних:  
Завантажити набір даних.  
Оцінити кількість спостережень та кількість змінних, визначити типи даних у кожній колонці. 
У висновках необхідно зазначити: загальну кількість спостережень та змінних у наборі даних; типи даних кожної змінної (наприклад, числовий, текстовий, булевий); короткий опис виявлених особливостей набору даних (наприклад, наявність відсутніх значень, неочікувані типи даних у певних колонках).  

2. Препроцесинг даних:  
Видалити зайві стовпчики, які не потрібні для аналізу та прогнозування LTV.
Заповнити пропуски в даних, використовуючи відповідні методи (середнє, медіану або моду).  
В трьох стовпчиках, де дані збережені у текстовому форматі, але повинні бути числовими (наприклад, через наявність символів або некоректне форматування), виправити тип даних на числовий.  

3. Реалізація алгоритмів регресії та оцінка якості реалізованих алгоритмів:    
Реалізувати кілька різних алгоритмів регресії (лінійна регресія, дерево рішень, метод найближчих сусідів тощо). Навчити моделі на наявних даних, використовуючи LTV як цільову змінну.  
Оцінити якість кожної моделі за допомогою метрики R2. Порівняти результати та вибрати найкращу модель за метрикою R2.  
У висновках необхідно надати загальну оцінку якості побудованих моделей та зробити заключення щодо їх придатності для подальшого використання: чи можна ці моделі застосовувати для прогнозування LTV на нових даних, чи є необхідність у подальшому вдосконаленні.  

4. Прогнозування LTV для нових клієнтів:  
На основі найкращої моделі, зробити прогноз LTV для вибраних клієнтів (дані для цих клієнтів наведено в файлі **"clients_to_estimate"**).

In [1]:
# імпортуємо потрібні біблотеки
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
#1 Ознайомлення з набором даних:
#Завантажити набір даних.
#Оцінити кількість спостережень та кількість змінних, визначити типи даних у кожній колонці. У висновках необхідно зазначити: загальну кількість спостережень та змінних у наборі даних; типи даних кожної змінної (наприклад, числовий, текстовий, булевий); короткий опис виявлених особливостей набору даних (наприклад, наявність відсутніх значень, неочікувані типи даних у певних колонках).

In [3]:
#відкриємо файл з даними та зчитаємо вміст файлу в датафрейм
df = pd.read_csv('clients_LTV.csv')
# Отримуємо базову інформацію про набір даних: кількість спостережень, змінних та типи даних кожної колонки
df.head()

,Unnamed: 0,Customer_ID,Age,Location,Income_Level,Total_Transactions,Avg_Transaction_Value,Max_Transaction_Value,Min_Transaction_Value,Total_Spent,...,Last_Transaction_Days_Ago,Loyalty_Points_Earned,Referral_Count,Cashback_Received,App_Usage_Frequency,Preferred_Payment_Method,Support_Tickets_Raised,Issue_Resolution_Time,Customer_Satisfaction_Score,LTV
0,0,cust_0000,54,Urban,Low,192,16736.38402319893$,60216.83450988285$,6525.814860765247$,3.213386e+06,...,209,2114.0,25,2224.012140,Monthly,Debit Card,3,61.568590,1,3.279546e+05
1,1,cust_0001,67,Suburban,High,979,14536.734682848608$,48350.10027249861$,2186.742245256916$,1.423146e+07,...,240,2960.0,20,4026.823518,Monthly,UPI,17,60.392889,8,1.437053e+06
2,2,cust_0002,44,Urban,High,329,7061.372800216672$,32521.157187328816$,2743.4068078554915$,NaN,...,21,3170.0,0,1441.011395,NaN,Debit Card,11,45.305579,4,2.419387e+05
3,3,cust_0003,30,Rural,High,71,16426.876453277957$,17827.896720459485$,4360.78499399125$,NaN,...,285,NaN,35,4365.855580,NaN,Wallet Balance,6,22.030191,1,1.284599e+05
4,4,cust_0004,58,Urban,Middle,878,10800.09265965521$,17497.634533762135$,4532.872520080136$,9.482481e+06,...,329,1992.0,18,4161.523827,Daily,UPI,18,20.634723,5,9.569514e+05

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   7000 non-null   int64
 1   Customer_ID                  7000 non-null   object
 2   Age                          7000 non-null   int64
 3   Location                     6650 non-null   object
 4   Income_Level                 6510 non-null   object
 5   Total_Transactions           7000 non-null   int64
 6   Avg_Transaction_Value        7000 non-null   object
 7   Max_Transaction_Value        7000 non-null   object
 8   Min_Transaction_Value        7000 non-null   object
 9   Total_Spent                  5950 non-null   float64
 10  Active_Days                  7000 non-null   int64
 11  Last_Transaction_Days_Ago    7000 non-null   int64
 12  Loyalty_Points_Earned        6370 non-null   float64
 13  Referral_Count               7000 non-null   int64
 14  Cashback_Received            7000 non-null   float64
 15  App_Usage_Frequency          5460 non-null   object
 16  Preferred_Payment_Method     7000 non-null   object
 17  Support_Tickets_Raised       7000 non-null   int64
 18  Issue_Resolution_Time        7000 non-null   float64
 19  Customer_Satisfaction_Score  7000 non-null   int64
 20  LTV                          7000 non-null   float64
dtypes: float64(5), int64(8), object(8)
memory usage: 1.1+ MB

In [5]:
#Висновки
#Загальна кількість спостережень та змінних:

#Набір даних містить 7,000 спостережень (рядків).
#Кількість змінних  21.
#Типи даних змінних:

#int64 (цілі числа)
#Змінні: Unnamed: 0, Age, Total_Transactions, Active_Days, Last_Transaction_Days_Ago, Referral_Count, Support_Tickets_Raised, Customer_Satisfaction_Score
#float64 (десяткові числа)
#Змінні: Total_Spent, Loyalty_Points_Earned, Cashback_Received, Issue_Resolution_Time, LTV
#object (текстові дані)
#Змінні: Customer_ID, Location, Income_Level, Avg_Transaction_Value, Max_Transaction_Value, Min_Transaction_Value, App_Usage_Frequency, Preferred_Payment_Method

In [6]:
# Перевіряємо наявність відсутніх значень у наборі даних
df.isnull().sum()

Unnamed: 0                        0
Customer_ID                       0
Age                               0
Location                        350
Income_Level                    490
Total_Transactions                0
Avg_Transaction_Value             0
Max_Transaction_Value             0
Min_Transaction_Value             0
Total_Spent                    1050
Active_Days                       0
Last_Transaction_Days_Ago         0
Loyalty_Points_Earned           630
Referral_Count                    0
Cashback_Received                 0
App_Usage_Frequency            1540
Preferred_Payment_Method          0
Support_Tickets_Raised            0
Issue_Resolution_Time             0
Customer_Satisfaction_Score       0
LTV                               0
dtype: int64

In [7]:
#Location: 350 відсутніх значень
#Income_Level: 490 відсутніх значень
#Total_Spent: 1,050 відсутніх значень
#Loyalty_Points_Earned: 630 відсутніх значень
#App_Usage_Frequency: 1,540 відсутніх значень

In [8]:
df.describe ()

,Unnamed: 0,Age,Total_Transactions,Total_Spent,Active_Days,Last_Transaction_Days_Ago,Loyalty_Points_Earned,Referral_Count,Cashback_Received,Support_Tickets_Raised,Issue_Resolution_Time,Customer_Satisfaction_Score,LTV
count,7000.000000,7000.000000,7000.000000,5.950000e+03,7000.000000,7000.000000,6370.00000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7.000000e+03
mean,3499.500000,42.633714,501.221429,5.043738e+06,181.934857,183.847714,2499.51821,24.837000,2496.525032,10.017571,36.528007,5.479000,5.119197e+05
std,2020.870275,15.516036,286.277311,4.404883e+06,105.102598,105.063709,1444.91823,14.560352,1440.651412,6.037067,20.389399,2.860197,4.390551e+05
min,0.000000,16.000000,1.000000,1.623084e+03,1.000000,1.000000,0.00000,0.000000,0.234349,0.000000,1.019853,1.000000,3.770495e+03
25%,1749.750000,29.000000,252.000000,1.384267e+06,90.000000,93.000000,1256.25000,12.000000,1269.423703,5.000000,19.127302,3.000000,1.482058e+05
50%,3499.500000,43.000000,506.000000,3.864984e+06,182.000000,184.000000,2464.00000,25.000000,2478.943350,10.000000,36.257396,5.000000,3.878180e+05
75%,5249.250000,56.000000,744.000000,7.713299e+06,273.000000,275.000000,3782.00000,37.000000,3749.375251,15.000000,54.068594,8.000000,7.748578e+05
max,6999.000000,69.000000,1000.000000,1.946773e+07,365.000000,365.000000,5000.00000,50.000000,4999.698480,20.000000,71.978946,10.000000,1.956988e+06

In [9]:
df['Avg_Transaction_Value'][df['Avg_Transaction_Value'].str.contains(r'[^\d\.]', na=False)]

0        16736.38402319893$
1       14536.734682848608$
2        7061.372800216672$
3       16426.876453277957$
4        10800.09265965521$
               ...
6995    162.70350256920446$
6996    1575.7078765992385$
6997     14429.35517756313$
6998    8005.0271841612175$
6999       15697.668867092$
Name: Avg_Transaction_Value, Length: 7000, dtype: object

In [10]:
df['Max_Transaction_Value'][df['Max_Transaction_Value'].str.contains(r'[^\d\.]', na=False)]

0        60216.83450988285$
1        48350.10027249861$
2       32521.157187328816$
3       17827.896720459485$
4       17497.634533762135$
               ...
6995     605.9974948210429$
6996     4702.522747095733$
6997    17207.737631060354$
6998     33203.79571648326$
6999     50584.16343037768$
Name: Max_Transaction_Value, Length: 7000, dtype: object

In [11]:
df['Min_Transaction_Value'][df['Min_Transaction_Value'].str.contains(r'[^\d\.]', na=False)]

0        6525.814860765247$
1        2186.742245256916$
2       2743.4068078554915$
3         4360.78499399125$
4        4532.872520080136$
               ...
6995     80.35266634214777$
6996    359.51133234175296$
6997    1510.5983293698946$
6998    1976.3261242214244$
6999     7833.230956449822$
Name: Min_Transaction_Value, Length: 7000, dtype: object

In [12]:
#Неочікувані типи даних:
#Avg_Transaction_Value, Max_Transaction_Value, Min_Transaction_Value, мають тип object, оскільки містять символ $.
#Ці дані потребують обробки та перетворення у числовий формат для коректного аналізу.

In [13]:
#2. Препроцесинг даних:  
#Видалити зайві стовпчики, які не потрібні для аналізу та прогнозування LTV.
#Заповнити пропуски в даних, використовуючи відповідні методи (середнє, медіану або моду).  
#В трьох стовпчиках, де дані збережені у текстовому форматі, але повинні бути числовими (наприклад, через наявність символів або некоректне форматування), виправити тип даних на числовий.

In [14]:
#Зайві стовпці для видалення:
#Unnamed: 0: Зазвичай це індекс або маркер, який не несе інформації.
#Customer_ID: Унікальний ідентифікатор, який не впливає на прогнозування LTV, тому його можна видалити.
#App_Usage_Frequency: 
#Preferred_Payment_Method:

In [15]:
# Видалення зайвих стовпців
columns_to_drop = ['Unnamed: 0', 'Customer_ID','Preferred_Payment_Method', 'App_Usage_Frequency'] 
df.drop(columns=columns_to_drop, inplace=True)

In [16]:
# Видаляємо символ '$' та перетворюємо значення у числовий формат для кожного з цих стовпців
df['Avg_Transaction_Value'] = df['Avg_Transaction_Value'].replace('[\$,]', '', regex=True).astype(float)
df['Max_Transaction_Value'] = df['Max_Transaction_Value'].replace('[\$,]', '', regex=True).astype(float)
df['Min_Transaction_Value'] = df['Min_Transaction_Value'].replace('[\$,]', '', regex=True).astype(float)

In [17]:
#Результат
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7000 non-null   int64
 1   Location                     6650 non-null   object
 2   Income_Level                 6510 non-null   object
 3   Total_Transactions           7000 non-null   int64
 4   Avg_Transaction_Value        7000 non-null   float64
 5   Max_Transaction_Value        7000 non-null   float64
 6   Min_Transaction_Value        7000 non-null   float64
 7   Total_Spent                  5950 non-null   float64
 8   Active_Days                  7000 non-null   int64
 9   Last_Transaction_Days_Ago    7000 non-null   int64
 10  Loyalty_Points_Earned        6370 non-null   float64
 11  Referral_Count               7000 non-null   int64
 12  Cashback_Received            7000 non-null   float64
 13  Support_Tickets_Raised       7000 non-null   int64
 14  Issue_Resolution_Time        7000 non-null   float64
 15  Customer_Satisfaction_Score  7000 non-null   int64
 16  LTV                          7000 non-null   float64
dtypes: float64(8), int64(7), object(2)
memory usage: 929.8+ KB

In [18]:
#Заповнимо відсутні значення для «Total_Spent» і «Loyalty_Points_Earned» їх середнім значенням
df['Total_Spent'].fillna(df['Total_Spent'].mean(), inplace=True)
df['Loyalty_Points_Earned'].fillna(df['Loyalty_Points_Earned'].mean(), inplace=True)

In [19]:
#Видалимо інші рядки ,де є пропуски.
df.dropna(inplace=True)

In [20]:
#Результат
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6188 entries, 0 to 6997
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          6188 non-null   int64
 1   Location                     6188 non-null   object
 2   Income_Level                 6188 non-null   object
 3   Total_Transactions           6188 non-null   int64
 4   Avg_Transaction_Value        6188 non-null   float64
 5   Max_Transaction_Value        6188 non-null   float64
 6   Min_Transaction_Value        6188 non-null   float64
 7   Total_Spent                  6188 non-null   float64
 8   Active_Days                  6188 non-null   int64
 9   Last_Transaction_Days_Ago    6188 non-null   int64
 10  Loyalty_Points_Earned        6188 non-null   float64
 11  Referral_Count               6188 non-null   int64
 12  Cashback_Received            6188 non-null   float64
 13  Support_Tickets_Raised       6188 non-null   int64
 14  Issue_Resolution_Time        6188 non-null   float64
 15  Customer_Satisfaction_Score  6188 non-null   int64
 16  LTV                          6188 non-null   float64
dtypes: float64(8), int64(7), object(2)
memory usage: 870.2+ KB

In [21]:
df.head()

,Age,Location,Income_Level,Total_Transactions,Avg_Transaction_Value,Max_Transaction_Value,Min_Transaction_Value,Total_Spent,Active_Days,Last_Transaction_Days_Ago,Loyalty_Points_Earned,Referral_Count,Cashback_Received,Support_Tickets_Raised,Issue_Resolution_Time,Customer_Satisfaction_Score,LTV
0,54,Urban,Low,192,16736.384023,60216.834510,6525.814861,3.213386e+06,140,209,2114.00000,25,2224.012140,3,61.568590,1,3.279546e+05
1,67,Suburban,High,979,14536.734683,48350.100272,2186.742245,1.423146e+07,229,240,2960.00000,20,4026.823518,17,60.392889,8,1.437053e+06
2,44,Urban,High,329,7061.372800,32521.157187,2743.406808,5.043738e+06,73,21,3170.00000,0,1441.011395,11,45.305579,4,2.419387e+05
3,30,Rural,High,71,16426.876453,17827.896720,4360.784994,5.043738e+06,299,285,2499.51821,35,4365.855580,6,22.030191,1,1.284599e+05
4,58,Urban,Middle,878,10800.092660,17497.634534,4532.872520,9.482481e+06,236,329,1992.00000,18,4161.523827,18,20.634723,5,9.569514e+05

In [22]:
# Видалимо викиди
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns

In [23]:
import pandas as pd

for column in numeric_columns:
    # Обчислюємо квантилі 1% та 99%
    lower_bound = df[column].quantile(0.01)
    upper_bound = df[column].quantile(0.99)

    # Фільтруємо дані з урахуванням пропусків (NaN)
    initial_shape = df.shape[0]  # Кількість рядків перед очищенням
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    
    # Виводимо кількість видалених рядків
    removed_rows = initial_shape - df.shape[0]
    print(f'Кількість видалених рядків для стовпця {column}: {removed_rows}')

# Огляд фінального очищеного DataFrame
print("\nФінальний очищений DataFrame:")
df.info()

Кількість видалених рядків для стовпця Age: 0
Кількість видалених рядків для стовпця Total_Transactions: 124
Кількість видалених рядків для стовпця Avg_Transaction_Value: 122
Кількість видалених рядків для стовпця Max_Transaction_Value: 120
Кількість видалених рядків для стовпця Min_Transaction_Value: 118
Кількість видалених рядків для стовпця Total_Spent: 116
Кількість видалених рядків для стовпця Active_Days: 107
Кількість видалених рядків для стовпця Last_Transaction_Days_Ago: 100
Кількість видалених рядків для стовпця Loyalty_Points_Earned: 107
Кількість видалених рядків для стовпця Referral_Count: 0
Кількість видалених рядків для стовпця Cashback_Received: 106
Кількість видалених рядків для стовпця Support_Tickets_Raised: 0
Кількість видалених рядків для стовпця Issue_Resolution_Time: 104
Кількість видалених рядків для стовпця Customer_Satisfaction_Score: 0
Кількість видалених рядків для стовпця LTV: 102

Фінальний очищений DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 4962 entries, 0 to 6997
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          4962 non-null   int64
 1   Location                     4962 non-null   object
 2   Income_Level                 4962 non-null   object
 3   Total_Transactions           4962 non-null   int64
 4   Avg_Transaction_Value        4962 non-null   float64
 5   Max_Transaction_Value        4962 non-null   float64
 6   Min_Transaction_Value        4962 non-null   float64
 7   Total_Spent                  4962 non-null   float64
 8   Active_Days                  4962 non-null   int64
 9   Last_Transaction_Days_Ago    4962 non-null   int64
 10  Loyalty_Points_Earned        4962 non-null   float64
 11  Referral_Count               4962 non-null   int64
 12  Cashback_Received            4962 non-null   float64
 13  Support_Tickets_Raised       4962 non-null   int64
 14  Issue_Resolution_Time        4962 non-null   float64
 15  Customer_Satisfaction_Score  4962 non-null   int64
 16  LTV                          4962 non-null   float64
dtypes: float64(8), int64(7), object(2)
memory usage: 697.8+ KB

In [24]:
# Визначаємо незалежні змінні - всі в датафреймі df, крім LTV
X = df.drop(['LTV'], axis=1)

# LTV - цільова (прогнозована) змінна
y = df['LTV']

In [25]:
# Вибираємо категоріальні стовпці в матриці незалежних змінних
categorical_columns = X.select_dtypes(include=['object']).columns

# Вибираємо кількісні ознаки (числові стовпці) в матриці незалежних змінних
numeric_columns = X.select_dtypes(include=[float, int]).columns

In [26]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
# Імпортуємо клас StandardScaler з sklearn, який використовується для стандартизації даних
scaler = StandardScaler()

# Стандартизуємо кількісні ознаки
standardized_columns = scaler.fit_transform(X[numeric_columns])

# Перетворюємо стандартизовані дані в DataFrame з відповідними назвами стовпців
standardized_X = pd.DataFrame(standardized_columns, columns=numeric_columns, index=X.index)

# Видаляємо початкові кількісні ознаки
X = X.drop(columns=numeric_columns)

# Додаємо стандартизовані ознаки назад до DataFrame
X = pd.concat([X, standardized_X], axis=1)

# Перевіряємо результат
print(X.head())

   Location Income_Level       Age  Total_Transactions  Avg_Transaction_Value  \
0     Urban          Low  0.712773           -1.150794               1.265091
1  Suburban         High  1.551560            1.759687               0.852673
2     Urban         High  0.067552           -0.644141              -0.548902
3     Rural         High -0.835757           -1.598275               1.207061
4     Urban       Middle  0.970861            1.386169               0.152080

   Max_Transaction_Value  Min_Transaction_Value  Total_Spent  Active_Days  \
0               1.473377               1.741372    -0.483424    -0.414088
1               0.892336              -0.391794     2.591303     0.452296
2               0.117290              -0.118128     0.027358    -1.066309
3              -0.602148               0.677004     0.027358     1.133722
4              -0.618319               0.761606     1.266042     0.520439

   Last_Transaction_Days_Ago  Loyalty_Points_Earned  Referral_Count  \
0                   0.246065              -0.303858        0.017671
1                   0.546935               0.328802       -0.324839
2                  -1.578561               0.485845       -1.694877
3                   0.983680              -0.015558        0.702690
4                   1.410721              -0.395093       -0.461843

   Cashback_Received  Support_Tickets_Raised  Issue_Resolution_Time  \
0          -0.195138               -1.167770               1.255929
1           1.087279                1.153734               1.197023
2          -0.752120                0.158804               0.441098
3           1.328446               -0.670305              -0.725077
4           1.183097                1.319556              -0.794994

   Customer_Satisfaction_Score
0                    -1.576742
1                     0.871144
2                    -0.527648
3                    -1.576742
4                    -0.177950

In [27]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
# Імпортуємо клас OneHotEncoder з бібліотеки sklearn
encoder = OneHotEncoder(sparse_output=False, drop='first')

# Застосовуємо OneHotEncoder до категоріальних стовпців
encoded_columns = encoder.fit_transform(X[categorical_columns])

# Створюємо новий DataFrame з перекодованими змінними і назвами колонок
encoded_X = pd.DataFrame(encoded_columns, columns=encoder.get_feature_names_out(categorical_columns), index=X.index)

# Об'єднуємо початковий DataFrame з новими перекодованими стовпцями
X = X.drop(columns=categorical_columns)  # Видаляємо оригінальні категоріальні стовпці
X = pd.concat([X, encoded_X], axis=1)

# Перевіряємо результати
print(X.head())

        Age  Total_Transactions  Avg_Transaction_Value  Max_Transaction_Value  \
0  0.712773           -1.150794               1.265091               1.473377
1  1.551560            1.759687               0.852673               0.892336
2  0.067552           -0.644141              -0.548902               0.117290
3 -0.835757           -1.598275               1.207061              -0.602148
4  0.970861            1.386169               0.152080              -0.618319

   Min_Transaction_Value  Total_Spent  Active_Days  Last_Transaction_Days_Ago  \
0               1.741372    -0.483424    -0.414088                   0.246065
1              -0.391794     2.591303     0.452296                   0.546935
2              -0.118128     0.027358    -1.066309                  -1.578561
3               0.677004     0.027358     1.133722                   0.983680
4               0.761606     1.266042     0.520439                   1.410721

   Loyalty_Points_Earned  Referral_Count  Cashback_Received  \
0              -0.303858        0.017671          -0.195138
1               0.328802       -0.324839           1.087279
2               0.485845       -1.694877          -0.752120
3              -0.015558        0.702690           1.328446
4              -0.395093       -0.461843           1.183097

   Support_Tickets_Raised  Issue_Resolution_Time  Customer_Satisfaction_Score  \
0               -1.167770               1.255929                    -1.576742
1                1.153734               1.197023                     0.871144
2                0.158804               0.441098                    -0.527648
3               -0.670305              -0.725077                    -1.576742
4                1.319556              -0.794994                    -0.177950

   Location_Suburban  Location_Urban  Income_Level_Low  Income_Level_Middle
0                0.0             1.0               1.0                  0.0
1                1.0             0.0               0.0                  0.0
2                0.0             1.0               0.0                  0.0
3                0.0             0.0               0.0                  0.0
4                0.0             1.0               0.0                  1.0

In [28]:
# Стандартизуємо цільову змінну, попередньо перетворивши її в масив NumPy
y_array = y.to_numpy().reshape(-1, 1)

# Стандартизуємо за допомогою StandardScaler
target_scaler = StandardScaler()
y_scaled = target_scaler.fit_transform(y_array)

In [29]:
# Розбиваємо дані на навчальну і тестову вибірки
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y_scaled, test_size=0.1, random_state=42)

In [30]:
# імпортуємо необхідні для навчання та тестування моделі класи з бібліотеки sklearn
from sklearn.linear_model import LinearRegression
#from sklearn import metrics
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

from sklearn.metrics import r2_score

In [31]:
# Створюємо список моделей регресії, які будемо навчати
regression_models = [
    LinearRegression(),
    DecisionTreeRegressor(random_state=42),
    RandomForestRegressor(n_estimators=100, random_state=42),
    KNeighborsRegressor()
]

# Створюємо списки, в яких зберігатимемо показники якості (R²) кожної моделі на навчальній та тестовій вибірках
training_scores = []
testing_scores = []

# Навчаємо моделі та перевіряємо їх якість за допомогою R²
# Процес навчання та тестування моделей можна зібрати у власну функцію model_prediction
def model_prediction(model, x_train, y_train, x_test, y_test):
    model.fit(x_train, y_train)  # Навчаємо модель на тренувальній вибірці
    x_train_pred = model.predict(x_train)  # Прогноз цільової змінної на тренувальній вибірці
    x_test_pred = model.predict(x_test)    # Прогноз цільової змінної на тестовій вибірці
    
    # Розраховуємо R² на тренувальній та тестовій вибірках
    a = r2_score(y_train, x_train_pred) * 100
    b = r2_score(y_test, x_test_pred) * 100
    
    training_scores.append(a)
    testing_scores.append(b)
    
    print(f"R² для {type(model).__name__} моделі на навчальному наборі даних: {a:.2f}")
    print(f"R² для {type(model).__name__} моделі на тестовому наборі даних: {b:.2f}")

# Оцінювання моделей
for model in regression_models:
    print(f"Оцінювання {type(model).__name__} моделі:")
    model_prediction(model, X_train, y_train, X_test, y_test)
    print("\n")

# Обираємо найкращу модель - модель із найвищим значенням R² на тестовому наборі даних
best_model_index = testing_scores.index(max(testing_scores))
best_model = regression_models[best_model_index]
best_test_score = testing_scores[best_model_index]

print(f"Найкращою є модель {type(best_model).__name__} з R² {best_test_score:.2f} на тестовому наборі даних.")

Оцінювання LinearRegression моделі:
R² для LinearRegression моделі на навчальному наборі даних: 92.86
R² для LinearRegression моделі на тестовому наборі даних: 93.10


Оцінювання DecisionTreeRegressor моделі:
R² для DecisionTreeRegressor моделі на навчальному наборі даних: 100.00
R² для DecisionTreeRegressor моделі на тестовому наборі даних: 99.77


Оцінювання RandomForestRegressor моделі:
R² для RandomForestRegressor моделі на навчальному наборі даних: 99.99
R² для RandomForestRegressor моделі на тестовому наборі даних: 99.92


Оцінювання KNeighborsRegressor моделі:
R² для KNeighborsRegressor моделі на навчальному наборі даних: 92.66
R² для KNeighborsRegressor моделі на тестовому наборі даних: 89.87


Найкращою є модель RandomForestRegressor з R² 99.92 на тестовому наборі даних.

In [32]:
#LinearRegression: Модель показала непогані результати, але є можливість для покращення. Вона не зовсім досягає високої точності.

#DecisionTreeRegressor: Ця модель демонструє дуже високу точність, але може бути перенавчена. Це означає, що вона дуже добре підходить до навчальних даних, але може погано працювати на нових.

#RandomForestRegressor (Random Forest): Виявилася найкращою моделлю! Вона показала високу точність як на навчальному, так і на тестовому наборі, що свідчить про її здатність добре працювати з новими даними.

#KNeighborsRegressor (KNN): Ця модель показала нижчі результати в порівнянні з іншими. Вона не так добре адаптується до змін у даних.

In [33]:
#Найкращою моделлю для прогнозування LTV є Random Forest, яка показала найвищу точність.

In [34]:
# 1. Завантажуємо дані нових клієнтів
new_clients = pd.read_csv("clients_to_estimate.csv")

In [35]:
new_clients

,Customer_ID,Age,Location,Income_Level,Total_Transactions,Avg_Transaction_Value,Max_Transaction_Value,Min_Transaction_Value,Total_Spent,Active_Days,Last_Transaction_Days_Ago,Loyalty_Points_Earned,Referral_Count,Cashback_Received,App_Usage_Frequency,Preferred_Payment_Method,Support_Tickets_Raised,Issue_Resolution_Time,Customer_Satisfaction_Score
0,cust_0860,50,Suburban,High,543,596.0589994879316$,1714.784777545023$,268.7142321224972$,3.236600e+05,250,361,2635,41,2019.948149,Daily,Debit Card,18,61.008314,6
1,cust_1604,66,Rural,Low,456,8800.17546689406$,38807.641761083454$,3153.691081237037$,4.012880e+06,349,211,1873,0,3163.905402,Daily,Debit Card,15,32.988608,8
2,cust_2245,46,Rural,Middle,754,1121.5742185939405$,3098.426240656642$,471.99152959088167$,8.456670e+05,43,274,4109,22,1515.538464,Weekly,Wallet Balance,4,16.183854,7
3,cust_6912,19,Urban,Middle,5,808.7034199851265$,3662.9134062873377$,204.50832004409645$,4.043517e+03,338,154,2939,25,3082.997460,Daily,UPI,20,51.023975,9
4,cust_0413,57,Rural,Middle,689,8577.766769212436$,31928.151472187823$,1996.522068052728$,5.910081e+06,330,15,557,21,189.162256,Daily,Wallet Balance,13,41.551875,9
5,cust_0990,37,Suburban,Middle,399,18415.055340139646$,51252.16703555148$,4358.063875888431$,7.347607e+06,125,195,2552,40,4726.767819,Monthly,Wallet Balance,5,42.621119,8
6,cust_6027,47,Suburban,Low,738,16760.691554436326$,27190.09175277492$,2697.615708688761$,1.236939e+07,216,23,3886,40,2406.273706,Weekly,UPI,0,52.170459,5
7,cust_4638,69,Urban,Low,298,668.376603618616$,2766.2008278355825$,85.82966910547842$,1.991762e+05,321,288,606,4,3137.742090,Weekly,Credit Card,14,58.955143,7
8,cust_6483,69,Urban,High,865,5468.755124437255$,15668.988066874252$,2129.4574730686413$,4.730473e+06,78,96,4093,31,1479.396327,Daily,UPI,2,5.896963,1
9,cust_5867,42,Suburban,Low,905,19854.09623418734$,39027.32039310596$,3823.960999957312$,1.796796e+07,114,234,4600,0,1784.265262,Monthly,UPI,10,12.650160,4
10,cust_1639,24,Rural,Low,583,7271.506177589737$,30394.49413319715$,2147.020374733422$,4.239288e+06,65,255,2437,33,411.228784,Monthly,Credit Card,18,55.675857,6
11,cust_6464,29,Suburban,High,55,10852.82373265896$,14321.947096838268$,1138.7799631389971$,5.969053e+05,195,177,20,15,2907.522394,Monthly,Wallet Balance,14,29.364578,10
12,cust_4331,47,Rural,High,146,19028.764148001843$,69839.65939074241$,7342.062837082458$,2.778200e+06,151,283,851,37,3567.451181,Daily,Wallet Balance,0,48.076169,10
13,cust_5754,58,Urban,Low,24,11110.038448867715$,40604.18103180728$,1653.2223472537964$,2.666409e+05,365,284,2601,10,227.999918,Daily,Debit Card,5,24.992619,2
14,cust_2911,19,Urban,Low,13,13377.62430565267$,43550.89239458578$,2335.307505065387$,1.739091e+05,146,271,1615,30,387.803050,Daily,Debit Card,6,47.774526,7
15,cust_4422,48,Urban,Low,569,8567.774390445991$,32251.4182700489$,2595.662575426616$,4.875064e+06,181,189,3386,17,3091.918610,Monthly,Credit Card,3,16.497119,2
16,cust_4356,27,Urban,Low,34,17394.765914727122$,35159.2496538719$,7768.681964414813$,5.914220e+05,229,327,235,27,2970.043198,Daily,Wallet Balance,11,20.861516,2
17,cust_4724,28,Urban,Middle,826,11758.48848517436$,16841.38907845596$,1662.0204399117283$,9.712511e+06,120,252,855,16,3193.713056,Daily,Wallet Balance,1,14.306342,1
18,cust_6211,67,Suburban,High,394,3426.218000760857$,5513.111835511469$,1528.463907876013$,1.349930e+06,6,163,4791,35,2126.552211,Weekly,Debit Card,3,61.564473,7
19,cust_2185,23,Urban,Low,799,13001.02182433808$,33350.91413160188$,1494.2270809715776$,1.038782e+07,262,166,4397,5,864.218175,Daily,Debit Card,7,4.534636,4
20,cust_5024,42,Urban,Low,537,17151.17626890247$,53436.8385246948$,4224.410026020206$,9.210182e+06,317,364,1028,23,2357.344584,Weekly,Debit Card,9,24.676761,8
21,cust_2883,38,Suburban,Low,424,10234.163847307076$,43616.62664578389$,2690.754395884768$,4.339285e+06,245,149,3108,22,533.996046,Monthly,Credit Card,4,56.953202,3
22,cust_2150,48,Suburban,Middle,270,15222.143254086855$,56431.487729154$,1543.0179334718698$,4.109979e+06,124,23,15,13,3760.487509,Daily,UPI,7,8.822157,6
23,cust_6535,18,Rural,Middle,998,421.4187134089118$,1660.1438964916651$,130.89129484574093$,4.205759e+05,259,219,2659,48,3241.926769,Weekly,Wallet Balance,15,47.094090,6
24,cust_2635,51,Urban,Low,506,12004.089325500532$,37405.95030061787$,3838.506492647136$,6.074069e+06,265,64,3655,47,1395.722050,Weekly,Debit Card,0,26.519077,5
25,cust_3972,52,Urban,Low,745,2909.816088492151$,8089.384752461112$,572.2588145140235$,2.167813e+06,199,301,3954,41,3807.051323,Daily,Debit Card,17,68.402156,8
26,cust_5680,50,Urban,High,696,2838.6909649963$,10158.333438243932$,608.8287795840354$,1.975729e+06,269,78,3596,29,473.789862,Daily,Wallet Balance,7,33.215744,10
27,cust_4837,41,Urban,High,386,11481.8929993975$,47760.52993550123$,5101.574093911693$,4.432011e+06,56,179,3343,13,3676.868964,Monthly,UPI,12,5.271232,2
28,cust_2664,22,Urban,High,832,11888.977646954589$,55880.30029805903$,4683.4634096515465$,9.891629e+06,195,237,1132,1,1218.198252,Daily,Credit Card,20,34.883662,8
29,cust_5296,53,Suburban,Middle,577,18609.57039618715$,23094.765139843414$,3288.9278519380305$,1.073772e+07,39,352,53,29,1644.734915,Monthly,Credit Card,4,67.206170,9
30,cust_2205,69,Suburban,Middle,411,6538.043444627378$,10685.280468072471$,2276.874306751951$,2.687136e+06,343,285,4722,44,2872.755390,Monthly,Debit Card,4,20.884750,6
31,cust_0072,17,Rural,High,100,5845.152777219734$,29133.343185776677$,962.6688501621726$,5.845153e+05,228,215,1600,7,4485.689108,Daily,Wallet Balance,2,39.699560,7
32,cust_4310,42,Rural,Low,523,17224.14425576019$,66728.02368882408$,1939.147567615249$,9.008227e+06,16,286,848,45,1615.077381,Weekly,Debit Card,1,64.355663,3
33,cust_0126,56,Suburban,High,737,17721.520170691372$,27995.824385667685$,6102.392640195309$,1.306076e+07,147,93,2422,24,388.228611,Monthly,Wallet Balance,10,42.525295,1
34,cust_4059,58,Urban,High,558,6725.97321449922$,8845.628945597236$,869.0449852672193$,3.753093e+06,356,67,98,0,1480.752112,Monthly,Debit Card,4,57.155311,3
35,cust_5365,54,Rural,High,201,8560.233051932842$,8897.740097356007$,1032.39336994701$,1.720607e+06,306,252,1218,29,581.578249,Daily,Credit Card,0,51.377409,8
36,cust_5645,16,Rural,High,645,10252.99880776839$,17522.71481910346$,3342.253267786408$,6.613184e+06,83,162,2957,43,1820.521475,Daily,Wallet Balance,18,36.349532,6
37,cust_3313,58,Urban,Low,275,12999.494541306069$,14307.700362407077$,4919.301635225836$,3.574861e+06,361,225,2645,7,2415.612455,Weekly,Credit Card,15,2.677587,2
38,cust_6169,55,Suburban,Low,180,383.5822150438802$,1312.9309455942555$,43.43289348184755$,6.904480e+04,173,286,3215,10,1065.178170,Daily,UPI,13,24.319308,2
39,cust_5090,22,Rural,Middle,47,7408.751183346093$,18391.57320261819$,3007.8513082604186$,3.482113e+05,239,100,4816,28,314.255055,Monthly,UPI,20,27.014680,9
40,cust_3895,48,Rural,Low,946,3082.452680262969$,9053.474773475828$,771.5262535017569$,2.916000e+06,190,192,2399,39,1810.383625,Daily,UPI,0,52.777118,6
41,cust_5800,37,Rural,Middle,116,4441.067123577138$,7026.836172117724$,1582.0835612915826$,5.151638e+05,159,22,805,2,2112.304657,Weekly,UPI,19,36.815461,8
42,cust_1670,31,Suburban,Low,404,6194.243674054859$,24039.949973215924$,2823.047144544148$,2.502474e+06,363,226,1,9,1986.763723,Weekly,Wallet Balance,11,37.754956,5
43,cust_0282,56,Suburban,High,265,17630.62455680812$,55801.06514107469$,7369.875947215106$,4.672116e+06,213,222,2756,9,926.562502,Monthly,Debit Card,16,23.530626,3
44,cust_1764,61,Suburban,Middle,808,331.38213944898763$,601.6665374494708$,125.69006587205072$,2.677568e+05,135,223,4496,26,2640.411952,Daily,Wallet Balance,5,7.454155,5
45,cust_6275,65,Suburban,High,270,9038.957824222678$,16493.768761016934$,1925.6311719174184$,2.440519e+06,167,271,2195,42,1659.293469,Weekly,Credit Card,16,49.952307,2
46,cust_6762,47,Suburban,High,250,5288.840005542051$,11872.904226449751$,683.5996402751119$,1.322210e+06,1,293,4728,14,3263.089377,Daily,Credit Card,3,51.937789,2
47,cust_1899,44,Suburban,Low,893,13207.163674073094$,33347.03164633617$,5574.47293910743$,1.179400e+07,221,298,4495,26,3167.019475,Weekly,UPI,19,64.968354,6
48,cust_3600,17,Rural,Low,703,12618.00126977661$,29937.33125984126$,2325.147671251432$,8.870455e+06,298,345,3016,27,1097.870171,Weekly,UPI,12,31.894259,9
49,cust_1616,69,Urban,Low,560,18445.771527995003$,29976.956322732374$,4604.813969240221$,1.032963e+07,53,351,761,39,39.625881,Weekly,UPI,20,5.843717,7

In [36]:
new_clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer_ID                  50 non-null     object
 1   Age                          50 non-null     int64
 2   Location                     50 non-null     object
 3   Income_Level                 50 non-null     object
 4   Total_Transactions           50 non-null     int64
 5   Avg_Transaction_Value        50 non-null     object
 6   Max_Transaction_Value        50 non-null     object
 7   Min_Transaction_Value        50 non-null     object
 8   Total_Spent                  50 non-null     float64
 9   Active_Days                  50 non-null     int64
 10  Last_Transaction_Days_Ago    50 non-null     int64
 11  Loyalty_Points_Earned        50 non-null     int64
 12  Referral_Count               50 non-null     int64
 13  Cashback_Received            50 non-null     float64
 14  App_Usage_Frequency          50 non-null     object
 15  Preferred_Payment_Method     50 non-null     object
 16  Support_Tickets_Raised       50 non-null     int64
 17  Issue_Resolution_Time        50 non-null     float64
 18  Customer_Satisfaction_Score  50 non-null     int64
dtypes: float64(3), int64(8), object(8)
memory usage: 7.6+ KB

In [37]:
# Видалення зайвих стовпців
columns_to_drop1 = [ 'Customer_ID','Preferred_Payment_Method', 'App_Usage_Frequency'] 
new_clients.drop(columns=columns_to_drop1, inplace=True)

In [38]:
# Видаляємо символ '$' та перетворюємо значення у числовий формат для кожного з цих стовпців
new_clients['Avg_Transaction_Value'] = new_clients['Avg_Transaction_Value'].replace('[\$,]', '', regex=True).astype(float)
new_clients['Max_Transaction_Value'] = new_clients['Max_Transaction_Value'].replace('[\$,]', '', regex=True).astype(float)
new_clients['Min_Transaction_Value'] = new_clients['Min_Transaction_Value'].replace('[\$,]', '', regex=True).astype(float)

In [39]:
new_clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          50 non-null     int64
 1   Location                     50 non-null     object
 2   Income_Level                 50 non-null     object
 3   Total_Transactions           50 non-null     int64
 4   Avg_Transaction_Value        50 non-null     float64
 5   Max_Transaction_Value        50 non-null     float64
 6   Min_Transaction_Value        50 non-null     float64
 7   Total_Spent                  50 non-null     float64
 8   Active_Days                  50 non-null     int64
 9   Last_Transaction_Days_Ago    50 non-null     int64
 10  Loyalty_Points_Earned        50 non-null     int64
 11  Referral_Count               50 non-null     int64
 12  Cashback_Received            50 non-null     float64
 13  Support_Tickets_Raised       50 non-null     int64
 14  Issue_Resolution_Time        50 non-null     float64
 15  Customer_Satisfaction_Score  50 non-null     int64
dtypes: float64(6), int64(8), object(2)
memory usage: 6.4+ KB

In [40]:
# Стандартизуємо кількісні ознаки, але використовуємо тільки transform
standardized_columns = scaler.transform(new_clients[numeric_columns])

# Перетворюємо стандартизовані дані в DataFrame з відповідними назвами стовпців
standardized_new_clients = pd.DataFrame(standardized_columns, columns=numeric_columns, index=new_clients.index)

# Видаляємо початкові кількісні ознаки
new_clients = new_clients.drop(columns=numeric_columns)

# Додаємо стандартизовані ознаки назад до DataFrame
new_clients = pd.concat([standardized_new_clients, new_clients], axis=1)

# Перевіряємо результат
print(new_clients.head())

        Age  Total_Transactions  Avg_Transaction_Value  Max_Transaction_Value  \
0  0.454684            0.147273              -1.761101              -1.391108
1  1.487038           -0.174470              -0.222890               0.425100
2  0.196596            0.927593              -1.662571              -1.323360
3 -1.545501           -1.842356              -1.721232              -1.295720
4  0.906339            0.687210              -0.264590               0.088254

   Min_Transaction_Value  Total_Spent  Active_Days  Last_Transaction_Days_Ago  \
0              -1.334731    -1.289837     0.656724                   1.721295
1               0.083575    -0.260316     1.620455                   0.265476
2              -1.234796    -1.144165    -1.358349                   0.876920
3              -1.366295    -1.379030     1.513374                  -0.287735
4              -0.485310     0.269121     1.435496                  -1.636794

   Loyalty_Points_Earned  Referral_Count  Cashback_Received  \
0               0.085759        1.113701          -0.340297
1              -0.484084       -1.694877           0.473448
2               1.188054       -0.187835          -0.699106
3               0.313098        0.017671           0.415895
4              -1.468223       -0.256337          -1.642614

   Support_Tickets_Raised  Issue_Resolution_Time  Customer_Satisfaction_Score  \
0                1.319556               1.227858                     0.171748
1                0.822091              -0.176023                     0.871144
2               -1.001948              -1.017998                     0.521446
3                1.651199               0.727609                     1.220842
4                0.490447               0.253025                     1.220842

   Location Income_Level
0  Suburban         High
1     Rural          Low
2     Rural       Middle
3     Urban       Middle
4     Rural       Middle

In [41]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
# Імпортуємо клас OneHotEncoder з бібліотеки sklearn
encoder = OneHotEncoder(sparse_output=False, drop='first')

# Застосовуємо OneHotEncoder до категоріальних стовпців
encoded_columns = encoder.fit_transform(new_clients[categorical_columns])

# Створюємо новий DataFrame з перекодованими змінними і назвами колонок
encoded_new_clients = pd.DataFrame(encoded_columns, columns=encoder.get_feature_names_out(categorical_columns), index=new_clients.index)

# Об'єднуємо початковий DataFrame з новими перекодованими стовпцями
new_clients = new_clients.drop(columns=categorical_columns)  # Видаляємо оригінальні категоріальні стовпці
new_clients = pd.concat([new_clients, encoded_new_clients], axis=1)

# Перевіряємо результати
print(new_clients.head())

        Age  Total_Transactions  Avg_Transaction_Value  Max_Transaction_Value  \
0  0.454684            0.147273              -1.761101              -1.391108
1  1.487038           -0.174470              -0.222890               0.425100
2  0.196596            0.927593              -1.662571              -1.323360
3 -1.545501           -1.842356              -1.721232              -1.295720
4  0.906339            0.687210              -0.264590               0.088254

   Min_Transaction_Value  Total_Spent  Active_Days  Last_Transaction_Days_Ago  \
0              -1.334731    -1.289837     0.656724                   1.721295
1               0.083575    -0.260316     1.620455                   0.265476
2              -1.234796    -1.144165    -1.358349                   0.876920
3              -1.366295    -1.379030     1.513374                  -0.287735
4              -0.485310     0.269121     1.435496                  -1.636794

   Loyalty_Points_Earned  Referral_Count  Cashback_Received  \
0               0.085759        1.113701          -0.340297
1              -0.484084       -1.694877           0.473448
2               1.188054       -0.187835          -0.699106
3               0.313098        0.017671           0.415895
4              -1.468223       -0.256337          -1.642614

   Support_Tickets_Raised  Issue_Resolution_Time  Customer_Satisfaction_Score  \
0                1.319556               1.227858                     0.171748
1                0.822091              -0.176023                     0.871144
2               -1.001948              -1.017998                     0.521446
3                1.651199               0.727609                     1.220842
4                0.490447               0.253025                     1.220842

   Location_Suburban  Location_Urban  Income_Level_Low  Income_Level_Middle
0                1.0             0.0               0.0                  0.0
1                0.0             0.0               1.0                  0.0
2                0.0             0.0               0.0                  1.0
3                0.0             1.0               0.0                  1.0
4                0.0             0.0               0.0                  1.0

In [42]:
X.columns == new_clients.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [43]:
pred_scaled = best_model.predict(new_clients)
pred_scaled

array([-1.17371035, -0.22837484, -1.04561072, -1.21330484,  0.26969903,
        0.6388169 ,  1.93543089, -1.21548274, -0.04396674,  2.80043693,
       -0.17153916, -1.11306804, -0.54524326, -1.20244164, -1.21760596,
       -0.01449106, -1.13206969,  1.23111307, -0.90383875,  1.42426662,
        1.12062079, -0.15116709, -0.20438974, -1.1547328 ,  0.30713664,
       -0.70078282, -0.74041688, -0.12855912,  1.28935607,  1.50536992,
       -0.55835903, -1.12215442,  1.05954758,  2.10622952, -0.30726081,
       -0.82309352,  0.4429547 , -0.35120916, -1.21369918, -1.16621152,
       -0.50664564, -1.14064127, -0.62543506, -0.0660879 , -1.19229432,
       -0.64223229, -0.91843004,  1.78745925,  1.0349861 ,  1.41015456])

In [44]:
# Виконуємо обернене перетворення спрогнозованих значень LTV до реальних одиниць
pred_real_units = target_scaler.inverse_transform(pred_scaled.reshape(-1, 1))

In [45]:
pred_real_units

array([[  48165.05050842],
       [ 413419.63196884],
       [  97659.62163524],
       [  32866.70625046],
       [ 605863.22596736],
       [ 748481.36844411],
       [1249461.38905525],
       [  32025.2155385 ],
       [ 484670.42386312],
       [1583678.62333976],
       [ 435379.55449621],
       [  71595.7579373 ],
       [ 290989.40571867],
       [  37063.98043203],
       [  31204.85562127],
       [ 496059.10819074],
       [  64253.98359954],
       [ 977330.16383575],
       [ 152436.85155696],
       [1051959.9847997 ],
       [ 934638.63985036],
       [ 443250.82312786],
       [ 422686.89174035],
       [  55497.51157652],
       [ 620328.20834562],
       [ 230892.71315495],
       [ 215579.0771954 ],
       [ 451985.9908937 ],
       [ 999833.83773321],
       [1083296.31908437],
       [ 285921.79122867],
       [  68085.00385839],
       [ 911041.44318481],
       [1315453.81538712],
       [ 382940.018874  ],
       [ 183634.84257292],
       [ 672804.99259733],
       [ 365959.44803411],
       [  32714.34252198],
       [  51062.4147332 ],
       [ 305902.58154801],
       [  60942.13511953],
       [ 260005.24926748],
       [ 476123.34701419],
       [  40984.65743259],
       [ 253515.21008504],
       [ 146799.13308299],
       [1192288.75819786],
       [ 901551.48709756],
       [1046507.42920237]])